@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* ------------------ General CSS -------------------- */

:root {
	--lightBlue : #90CBFB;
	--darkBlue : #110066;
	--yellow : #FFD432;
	--white : #FFFFFF;
	--gray : #919191;
}

*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}

.rounded{
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
}

.bordered{
	border: 2px solid #000
}

.cover{
	object-fit: cover;
	object-position: center;
}

#header{
	background-color: var(--darkBlue);
	height: 100px;
	grid-area: nav;
	display: grid;
	grid-template-areas: 
		"logo nav nav nav nav nav nav nav";
}
#header .logo{
	grid-area: logo;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#header .logo img{
	width: 50px;
	aspect-ratio: 1;
}
#header .nav{
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#header .nav ul{
	list-style: none;
}
#header .nav li{
	display: inline-block;
	margin: 0 20px;
}
#header .nav a{
	text-decoration: none;
	padding: 2px 5px;
	color:var(--white);
}
#header .nav a:hover{
	border-bottom: 2px solid var(--yellow);
}
#header .nav .active a{
	color: var(--yellow);
	border-bottom: 2px solid var(--yellow);
}

#footer{
	background-color: var(--darkBlue);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	color: var(--white);
	font-size: 0.7rem;
	text-align: center;
}
#footer span{
	white-space: nowrap;
}
#footer a{
	color: var(--white);
}
#footer a:hover{
	color: var(--yellow);
}

/* ------------------ Index Page CSS -------------------- */

#indexContainer{
	border: none;
	display: grid;
	grid-template-areas: 
		"nav"
		"mainVideo"
		"countries"
		"footer";
}

#mainVideo{
	grid-area: mainVideo;
	height: 350px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
#mainVideo iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
#mainVideo .blueFilter{
	width: 100%;
	height: 100%;
	background-color: var(--lightBlue);
	position: absolute;
	top: 0;
	opacity: 0.4;
}
#mainVideo .mainTitle{
	font-size: 2rem;
	font-weight: 700;
	color: var(--yellow);
	z-index: 1;
}

#countries{
	grid-area: countries;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px;
	background-color: var(--gray);
}
#countries .country{
	width: 16.66%;
	margin: 10px;
	position: relative;
	overflow: hidden;
	border-color: var(--darkBlue);
}
#countries .country:hover{
	border-color: var(--yellow);
}
#countries .country .flag{
	width: 100%;
	aspect-ratio: 1;
}
#countries .country:hover .flag{
	animation: scale 1000ms ease-in-out forwards;
}
#countries .country .flag img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
#countries .country .name{
	width: 100%;
	color: var(--white);
	font-size: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	top: calc(50% - 1rem);
	text-align: center;
}
#countries .country:hover .name{
	animation: scale 1000ms ease-in-out forwards;
}

/* ----------------- Leagues Page CSS ---------------------*/
#leaguesContainer{
	border: none;
	display: grid;
	grid-template-areas: 
		"nav"
		"slider"
		"leagues"
		"footer";
}

#slider{
	grid-area: slider;
	height: 250px;
	overflow: hidden;
}
#slider .slide{
	width: 100%;
	height: 100%;
	display: inline-block;
}
#slider .slide img{
	width: 100%;
	object-fit: cover;
	object-position: center;
}

#leagues{
	grid-area: leagues;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px;
	background-color: var(--gray);
}
#leagues .league{
	width: 16.66%;
	margin: 10px;
	position: relative;
	overflow: hidden;
	border-color: var(--darkBlue);
}
#leagues .league:hover{
	border-color: var(--yellow);
}
#leagues .league .flag{
	width: 100%;
	aspect-ratio: 1;
}
#leagues .league:hover .flag{
	animation: scale 1000ms ease-in-out forwards;
}
#leagues .league .flag img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
#leagues .league .name{
	width: 100%;
	color: var(--white);
	font-size: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	top: calc(50% - 1rem);
	text-align: center;
}
#leagues .league:hover .name{
	animation: scale 1000ms ease-in-out forwards;
}

/* ------------------ Terms&Conditions Page CSS -------------------- */
#termsConditions{
	padding: 15px;
	font-size: 1rem;
}
#termsConditions .title{
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 15px;
}
#termsConditions p{
	margin-bottom: 10px;
}

/* ------------------ AboutUs Page CSS -------------------- */
#aboutus{
	padding: 15px;
	font-size: 1rem;
}
#aboutus .image{
	width: 15%;
	float: left;
	margin: 0 25px 0px 0;
}
#aboutus .image img{
	width: 100%;
	aspect-ratio: 1;
}
#aboutus .text .title{
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 15px;
}
#aboutus .text p{
	margin-bottom: 10px;
}

/* -------------------- Contact Page CSS ----------------------*/
#contactForm{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}
#contactForm .title{
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 700;
	margin: 0 0 25px;
}
#contactForm form{
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#contactForm form input{
	width: 100%;
	line-height: 1.2rem;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid var(--gray);
}
#contactForm form input.city{
	width: 49%;
	display: inline-block;
}
#contactForm form select{
	width: 49%;
	height: 1.9rem;
	line-height: 1.9rem;
	display: inline-block;
	border: 1px solid var(--gray);
}
#contactForm textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 100px;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid var(--gray);
}
#contactForm .button{
	width: 49%;
	cursor: pointer;
}

/* -------------------- Old CSS ---------------------------*/

#bestPlayers{
	background-color: #999;
}
#bestPlayers a{
	text-decoration: none;
	display: inline-block;
}
#bestPlayers .bestPlayer{
	width: 16.5%;
	margin: 1.5%;
	padding: 1%;
	display: inline-block;
	text-align: center;
	position: relative;
    overflow: hidden;
}
#bestPlayers .bestPlayer .playerImg{
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
#bestPlayers .bestPlayer .playerName{
	color: #000;
	font-size: 1.2rem;
	font-weight: 700;
}
#bestPlayers .bestPlayer .team{
	vertical-align: bottom;
}
#bestPlayers .bestPlayer .team p{
	display: inline;
	color: #000;
	font-size: 1.1rem;
	line-height: 1.1rem;
}
#bestPlayers .bestPlayer .team img{
	height: 1.1rem;
	display: inline;
}

#teamsContent{
	width: 100%;
	height: 350px;
	padding: 0px;
}
#teamsContent .standingsTable{
	width: 30%;
	height: 100%;
	display: inline-block;
	padding: 20px;
}
#teamsContent .standingsTable a{
	text-decoration: none;
	color: #000;
}
#teamsContent .standingsTable table tr{
	text-align: center;
}
#teamsContent .teams{
	width: 69%;
	height: 100%;
	display: inline-block;
	overflow: auto;
}
#teamsContent .teams .team{
	width: 21.5%;
	margin: 1.5%;
	display: inline-block;
	text-align: center;
	background-color: #999;
	position: relative;
	border: 2px solid #000;
	border-radius: 50%;
    overflow: hidden;
}
#teamsContent .teams a{
	text-decoration: none;
}
#teamsContent .teams .team .flag{
	width: 100%;
	aspect-ratio: 1;
}
#teamsContent .teams .team .flag img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
#teamsContent .teams .team .name{
	width: 100%;
	color: #FFF;
	font-size: 2rem;
	line-height: 2rem;
	position: absolute;
	top: calc(50% - 1rem);
	text-align: center;
}

#teamBasics{
	background-color: #999;
	padding: 15px;
}
#teamBasics .teamInfo{
	width: 25%;
	padding: 1.5%;
	text-align: center;
	display: inline-block;
}
#teamBasics .teamInfo img{
	width: 100%;
	aspect-ratio: 1;
}
#teamBasics .teamInfo p{
	font-size: 1.2rem;
	font-weight: 700;
}
#teamBasics .slider{
	width: 34%;
	margin: 0 1.5%;
	padding: 1.5%;
	display: inline-block;
	overflow: hidden;
	background-color: #ccc;
}
#teamBasics .slider .slide{
	display: inline-block;
	text-align: center;
}
#teamBasics .slider .slide a{
	text-decoration: none;
}
#teamBasics .slider .slide .teamSlide{
	display: inline-block;
	width: 35%;
}
#teamBasics .slider .slide .teamSlide a{
	text-decoration: none;
	color: #000;
	font-weight: 700;
}
#teamBasics .slider .slide .score{
	width: 25%;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
}
#teamBasics .slider .slide .date{
	margin-top: 10px;

}
#teamBasics .slider .slide .teamSlide img{
	width: 100%;
	aspect-ratio: 1;
}
#teamPlayers{
	padding: 10px;
}
#teamPlayers .playersGroup{
	height: 100%;
	width: 21.5%;
	margin: 1.5%;
	padding: 10px;
	display: inline-block;
	background-color: #ccc;
	overflow: hidden;
}
#teamPlayers .playersGroup .playerInfo{
	background-color: #999;
	padding: 10px;
	margin: 10px 0;
}
#teamPlayers .playersGroup .playerInfo a{
	text-decoration: none;
	color: #000;
}
#teamPlayers .playersGroup .playerData{
	text-align: center;
}
#teamPlayers .playersGroup .playerImg img{
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
}

#playerInfo{
	padding: 15px;
}
#playerInfo .playerImg{
	width: 30%;
	margin: 1.5%;
	text-align: center;
	display: inline-block;	
	background-color: #ccc;
	padding: 20px;
}
#playerInfo .playerImg img{
	width: 70%;
	aspect-ratio: 1;
	border-radius: 50%;
}
#playerInfo .playerData{
	width: 63%;
	margin: 1.5%;
	display: inline-block;
	text-align: center;
	background-color: #ccc;
	padding: 20px;
}
#playerInfo .playerData a{
	text-decoration: none;
	color: #000;
	display: block;
}
#playerInfo .playerData a p{
	display: inline-block;
}
#playerInfo .playerData a img{
	height: 1rem;
	display: inline-block;
}

/* --------------------- Media Queries ------------------------ */

/* --------------- Mobile Queries --------------------*/
@media all and (max-width: 760px) {
	
	/* ------------- General CSS ------------- */
	#header{
		height: unset;
		grid-template-areas: 
			"logo"
			"nav";
	}
	#header .logo{
		padding: 15px 0 0;
	}
	#header .logo img{
		width: 40px;
	}
	#header .nav{
		height: 50%;
		font-size: 0.7rem;
		padding: 15px 0;
	}
	#header .nav li{
		margin: 0 5px;
	}

	#footer{
	 	font-size: 0.5rem;
	}

	/* ------------- Index Page CSS ------------- */
	#mainVideo{
		height: 200px;
	}
	
	#countries .country{
		width: 25%;
		margin: 7px;
	}
	#countries .country .name{
		font-size: 0.9rem;
	}

	/* ------------- Leagues Page CSS ------------- */
	#slider{
		height: 150px;
	}
	
	#leagues .league{
		width: 25%;
		margin: 7px;
	}
	#leagues .league .name{
		font-size: 0.9rem;
	}

	/* ------------------ Terms&Conditions Page CSS -------------------- */
	#termsConditions{
		padding: 10px;
		font-size: 0.7rem;
	}
	#termsConditions .title{
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 10px;
	}
	#termsConditions p{
		margin-bottom: 7px;
	}

	/* ------------------ AboutUs Page CSS -------------------- */
	#aboutus{
		padding: 15px;
		font-size: 0.7rem;
	}
	#aboutus .image{
		width: 25%;
		margin: 0 15px 0px 0;
	}
	#aboutus .text .title{
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 10px;
	}
	#aboutus .text p{
		margin-bottom: 7px;
	}

	/* -------------------- Contact Page CSS ----------------------*/
	#contactForm .title{
		margin-bottom: 10px;
		font-size: 1rem;
	}
	#contactForm form{
		width: 100%;
	}
	#contactForm form input{
		font-size: 0.7rem;
		padding: 2px;
	}
	#contactForm form select{
		font-size: 0.7rem;
		height: 1.5rem;
	}
	#contactForm form textarea{
		font-size: 0.7rem;
		padding: 2px;
	}
}



/* --------------------- Animations CSS ----------------------- */

@keyframes scale {
	to {
	  transform: scale(1.2);
	}
  }