@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* ------------------ General CSS -------------------- */

:root {
	--lightBlue : #90CBFB;
	--darkBlue : #110066;
	--yellow : #FFD432;
	--white : #FFFFFF;
	--gray : #919191;
}

*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}

.rounded{
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
}

.bordered{
	border: 2px solid #000
}

.cover{
	object-fit: cover;
	object-position: center;
}

#header{
	background-color: var(--darkBlue);
	height: 100px;
	grid-area: nav;
	display: grid;
	grid-template-areas: 
		"logo nav nav nav nav nav nav nav";
}
#header .logo{
	grid-area: logo;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#header .logo img{
	width: 50px;
	aspect-ratio: 1;
}
#header .nav{
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#header .nav ul{
	list-style: none;
}
#header .nav li{
	display: inline-block;
	margin: 0 20px;
}
#header .nav a{
	text-decoration: none;
	padding: 2px 5px;
	color:var(--white);
}
#header .nav a:hover{
	border-bottom: 2px solid var(--yellow);
}
#header .nav .active a{
	color: var(--yellow);
	border-bottom: 2px solid var(--yellow);
}

#footer{
	background-color: var(--darkBlue);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	color: var(--white);
	font-size: 0.7rem;
	text-align: center;
}
#footer span{
	white-space: nowrap;
}
#footer a{
	color: var(--white);
}
#footer a:hover{
	color: var(--yellow);
}

/* ------------------ Index Page CSS -------------------- */

#indexContainer{
	border: none;
	display: grid;
	grid-template-areas: 
		"nav"
		"mainVideo"
		"countries"
		"footer";
}

#mainVideo{
	grid-area: mainVideo;
	height: 350px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
#mainVideo iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
#mainVideo .blueFilter{
	width: 100%;
	height: 100%;
	background-color: var(--lightBlue);
	position: absolute;
	top: 0;
	opacity: 0.4;
}
#mainVideo .mainTitle{
	font-size: 2rem;
	font-weight: 700;
	color: var(--yellow);
	z-index: 1;
}

#countries{
	grid-area: countries;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px;
	background-color: var(--gray);
}
#countries .country{
	width: 16.66%;
	margin: 10px;
	position: relative;
	overflow: hidden;
	border-color: var(--darkBlue);
	animation: appearToDown 2500ms ease-in-out forwards;
}

#countries .country:nth-child(n){
	animation-delay: calc(n*0.5s);
}
#countries .country:hover{
	border-color: var(--yellow);
}
#countries .country .flag{
	width: 100%;
	aspect-ratio: 1;
}
#countries .country:hover .flag{
	animation: scale 1000ms ease-in-out forwards;
}
#countries .country .flag img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
#countries .country .name{
	width: 100%;
	color: var(--white);
	font-size: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	top: calc(50% - 1rem);
	text-align: center;
}
#countries .country:hover .name{
	animation: scale 1000ms ease-in-out forwards;
}

/* ----------------- Leagues Page CSS ---------------------*/
#leaguesContainer{
	border: none;
	display: grid;
	grid-template-areas: 
		"nav"
		"slider"
		"leagues"
		"footer";
}

#slider{
	grid-area: slider;
	height: 250px;
	overflow: hidden;
}
#slider .slide{
	width: 100%;
	height: 100%;
	display: inline-block;
}
#slider .slide img{
	width: 100%;
	object-fit: cover;
	object-position: center;
}

#leagues{
	grid-area: leagues;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px;
	background-color: var(--gray);
}
#leagues .league{
	width: 16.66%;
	margin: 10px;
	position: relative;
	overflow: hidden;
	border-color: var(--darkBlue);
}
#leagues .league:hover{
	border-color: var(--yellow);
}
#leagues .league .flag{
	width: 100%;
	aspect-ratio: 1;
}
#leagues .league:hover .flag{
	animation: scale 1000ms ease-in-out forwards;
}
#leagues .league .flag img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
#leagues .league .name{
	width: 100%;
	color: var(--white);
	font-size: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	top: calc(50% - 1rem);
	text-align: center;
}
#leagues .league:hover .name{
	animation: scale 1000ms ease-in-out forwards;
}

/* ----------------- Teams Page CSS ---------------------*/
#teamsContainer{
	border: none;
	display: grid;
	grid-template-areas: 
		"nav"
		"bestPlayers"
		"teams"
		"footer";
}

#bestPlayers{
	grid-area: bestPlayers;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	background-color: var(--lightBlue);
}
#bestPlayers a{
	text-decoration: none;
	display: inline-block;
}
#bestPlayers .bestPlayer{
	width: 19%;
	display: inline-block;
	text-align: center;
	position: relative;
    overflow: hidden;
}
#bestPlayers .bestPlayer .playerImg{
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: center;
}
#bestPlayers .bestPlayer .name:hover .playerImg{
	animation: scale 1000ms ease-in-out forwards;
}
#bestPlayers .bestPlayer .playerName{
	color: #000;
	font-size: 1.2rem;
	font-weight: 700;
}
#bestPlayers .bestPlayer .team p{
	display: inline;
	color: #000;
	font-size: 1.1rem;
	line-height: 1.1rem;
}
#bestPlayers .bestPlayer .team img{
	height: 1.1rem;
	display: inline;
}

#teamsContent{
	grid-area: teams;
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	background-color: var(--gray);
}
#teamsContent .standingsTable{
	overflow-x: auto;
	margin-top: 15px;
}
#teamsContent .standingsTable a{
	text-decoration: none;
	color: #000;
}
#teamsContent .standingsTable a:hover{
	color: var(--yellow);
}
#teamsContent .standingsTable table tr{
	text-align: center;
}
#teamsContent .standingsTable table td,
#teamsContent .standingsTable table td{
	padding: 2px 10px;
}
#teamsContent .standingsTable table .fixed{
	position: sticky;
	left: 2px;
	white-space: nowrap;
	background-color: var(--gray);
}
#teamsContent .teams{
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	padding: 0 15px;
}
#teamsContent .teams .team{
	width: 20%;
	margin: 15px;
	text-align: center;
	background-color: #999;
	position: relative;
	overflow: hidden;
	border-color: var(--darkBlue);
}
#teamsContent .teams .team:hover{
	border-color: var(--yellow);
}
#teamsContent .teams a{
	text-decoration: none;
}
#teamsContent .teams .team .flag{
	width: 100%;
	aspect-ratio: 1;
}
#teamsContent .teams .team:hover .flag{
		animation: scale 1000ms ease-in-out forwards;
}
#teamsContent .teams .team .flag img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
#teamsContent .teams .team .name{
	width: 100%;
	color: #FFF;
	font-size: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	top: calc(50% - 1rem);
	text-align: center;
}
#teamsContent .teams .team:hover .name{
	animation: scale 1000ms ease-in-out forwards;
}

/* ----------------- Player Page CSS ---------------------*/
#playerContainer{
	border: none;
	display: grid;
	grid-template-areas: 
		"nav"
		"playerInfo"
		"footer";
}
#playerInfo{
	grid-area: playerInfo;
	padding: 15px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
#playerInfo .playerImg{
	width: 30%;
	margin: 1.5%;
	text-align: center;
	display: inline-block;
}
#playerInfo .playerImg img{
	width: 70%;
	aspect-ratio: 1;
	border-radius: 50%;
}
#playerInfo .playerData{
	width: 63%;
	margin: 1.5%;
	display: inline-block;
	text-align: center;
	background-color: #ccc;
	padding: 20px;
}
#playerInfo .playerData a{
	text-decoration: none;
	color: #000;
	display: block;
}
#playerInfo .playerData a p{
	display: inline-block;
}
#playerInfo .playerData a img{
	height: 1rem;
	display: inline-block;
}

/* ----------------- Teams Page CSS ---------------------*/
#teamContainer{
	border: none;
	display: grid;
	grid-template-areas: 
		"nav"
		"teamBasics"
		"teamPlayers"
		"footer";
}

#teamBasics{
	grid-area: teamBasics;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
#teamBasics .teamInfo{
	width: 27%;
	text-align: center;
	display: inline-block;
}
#teamBasics .teamInfo img{
	width: 100%;
	aspect-ratio: 1;
}
#teamBasics .teamInfo p{
	font-size: 1.2rem;
	font-weight: 700;
}
#teamBasics .slider{
	width: 34%;
	padding: 1.5%;
	display: inline-block;
	overflow: hidden;
	background-color: #ccc;
}
#teamBasics .slider .slide{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
#teamBasics .slider .slide a{
	text-decoration: none;
}
#teamBasics .slider .slide .teamSlide{
	display: inline-block;
	width: 30%;
}
#teamBasics .slider .slide .teamSlide a{
	text-decoration: none;
	color: #000;
	font-weight: 700;
}
#teamBasics .slider .slide .score{
	width: 25%;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
}
#teamBasics .slider .slide .date{
	margin-top: 10px;
	width: 100%;
}
#teamBasics .slider .slide .teamSlide img{
	width: 100%;
	aspect-ratio: 1;
}

#teamPlayers{
	grid-area: teamPlayers;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#teamPlayers .playersGroup{
	height: 700px;
	overflow-y: auto;
	width: 23%;
	padding: 0px 10px;
	display: inline-block;
	border-radius: 15px;
	background-color: var(--lightBlue);
}
#teamPlayers .playersGroup .playerInfo{
	background-color: var(--gray);
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
}
#teamPlayers .playersGroup a:hover .playerInfo{
	border: 2px solid var(--yellow)
}
#teamPlayers .playersGroup a{
	text-decoration: none;
	color: #000;
}
#teamPlayers .playersGroup .playerData{
	text-align: center;
}
#teamPlayers .playersGroup .playerImg img{
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
}
#teamPlayers .playersGroup a:hover img{
	animation: scale 1000ms ease-in-out forwards;	
}

/* ------------------ Terms&Conditions Page CSS -------------------- */
#termsConditions{
	padding: 15px;
	font-size: 1rem;
}
#termsConditions .title{
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 15px;
}
#termsConditions p{
	margin-bottom: 10px;
}

/* ------------------ AboutUs Page CSS -------------------- */
#aboutus{
	padding: 15px;
	font-size: 1rem;
}
#aboutus .image{
	width: 15%;
	float: left;
	margin: 0 25px 0px 0;
}
#aboutus .image img{
	width: 100%;
	aspect-ratio: 1;
}
#aboutus .text .title{
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 15px;
}
#aboutus .text p{
	margin-bottom: 10px;
}

/* -------------------- Contact Page CSS ----------------------*/
#contactForm{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}
#contactForm .title{
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 700;
	margin: 0 0 25px;
}
#contactForm form{
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#contactForm form input{
	width: 100%;
	line-height: 1.2rem;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid var(--gray);
}
#contactForm form input.city{
	width: 49%;
	display: inline-block;
}
#contactForm form select{
	width: 49%;
	height: 1.9rem;
	line-height: 1.9rem;
	display: inline-block;
	border: 1px solid var(--gray);
}
#contactForm textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 100px;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid var(--gray);
}
#contactForm .button{
	width: 49%;
	cursor: pointer;
}


/* --------------------- Media Queries ------------------------ */

/* --------------- Mobile Queries --------------------*/
@media all and (max-width: 760px) {
	
	/* ------------- General CSS ------------- */
	#header{
		height: unset;
		grid-template-areas: 
			"logo"
			"nav";
	}
	#header .logo{
		padding: 15px 0 0;
	}
	#header .logo img{
		width: 40px;
	}
	#header .nav{
		height: 50%;
		font-size: 0.7rem;
		padding: 15px 0;
	}
	#header .nav li{
		margin: 0 5px;
	}

	#footer{
	 	font-size: 0.5rem;
	}

	/* ------------- Index Page CSS ------------- */
	#mainVideo{
		height: 200px;
	}
	
	#countries .country{
		width: 25%;
		margin: 7px;
	}
	#countries .country .name{
		font-size: 0.9rem;
	}

	/* ------------- Leagues Page CSS ------------- */
	#slider{
		height: 150px;
	}
	
	#leagues .league{
		width: 25%;
		margin: 7px;
	}
	#leagues .league .name{
		font-size: 0.9rem;
	}

	/* ----------------- Teams Page CSS ---------------------*/
	#bestPlayers{
		justify-content: space-between	;
		align-items: center;
		padding: 10px;
	}
	#bestPlayers .bestPlayer:first-child{
		width: 100%;
		padding: 0 20%;
		margin-bottom: 10px;
	}
	#bestPlayers .bestPlayer:first-child .playerImg{
		width: 55%;
	}
	#bestPlayers .bestPlayer:first-child .playerName{
		display: block;
		font-size: 1rem;
	}
	#bestPlayers .bestPlayer{
		width: 22%;
	}
	#bestPlayers .bestPlayer .playerName{
		font-size: 0.6rem;
	}
	#bestPlayers .bestPlayer .team{
		display: none;
	}
	#bestPlayers .bestPlayer .goals{
		display: none;
	}
	#teamsContent{
		grid-template-columns: 1fr;
		padding: 10px;
	}
	#teamsContent .standingsTable{
		display: flex;
		justify-content: center;
		margin-top: 0;
	}
	#teamsContent .teams{
		display: none;
	}

	/* ----------------- Team Page CSS ---------------------*/
	#teamBasics{
		padding: 10px;
	}
	#teamBasics .teamInfo{
		width: 100%;
		margin-bottom: 10px;
	}
	#teamBasics .teamInfo img{
		width: 30%;
	}
	#teamBasics .slider{
		width: 100%;
		margin: 5px 0;
	}
	#teamPlayers .playersGroup{
		width: 100%;
		margin: 5px 0;
		overflow-x: auto;
		height: unset;
	}

	/* ----------------- Player Page CSS ---------------------*/
	#playerInfo{
		flex-wrap: wrap;
	}
	#playerInfo .playerImg{
		width: 100%;
		padding: 0 25%;
	}
	#playerInfo .playerData{
		width: 100%;
	}

	/* ------------------ Terms&Conditions Page CSS -------------------- */
	#termsConditions{
		padding: 10px;
		font-size: 0.7rem;
	}
	#termsConditions .title{
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 10px;
	}
	#termsConditions p{
		margin-bottom: 7px;
	}

	/* ------------------ AboutUs Page CSS -------------------- */
	#aboutus{
		padding: 15px;
		font-size: 0.7rem;
	}
	#aboutus .image{
		width: 25%;
		margin: 0 15px 0px 0;
	}
	#aboutus .text .title{
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 10px;
	}
	#aboutus .text p{
		margin-bottom: 7px;
	}

	/* -------------------- Contact Page CSS ----------------------*/
	#contactForm .title{
		margin-bottom: 10px;
		font-size: 1rem;
	}
	#contactForm form{
		width: 100%;
	}
	#contactForm form input{
		font-size: 0.7rem;
		padding: 2px;
	}
	#contactForm form select{
		font-size: 0.7rem;
		height: 1.5rem;
	}
	#contactForm form textarea{
		font-size: 0.7rem;
		padding: 2px;
	}
}



/* --------------------- Animations CSS ----------------------- */

@keyframes scale{
	to{
	  transform: scale(1.2);
	}
  }

@keyframes appearToDown{
	0%{
		transform: translateY(-20px);
		opacity: 0;
	}
	45%{
		transform: translateY(-15px);
	}
	70%{
		transform: translateY(-10px);
	}
	90%{
		transform: translateY(-5px);
	}
	30%, 60%, 100%{
		transform: translateY(0px);
	}
	80%{
		transform: translateY(0px);
		opacity: 1;
	}
}