@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "colors";
@import "tools";

*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	color: $gray;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: map-get($fontMap, light);
	font-size: map-get($textMap, normal);
}

nav{
	background-color: $red;
    #menu{
		.nav-item{
			a{
				text-decoration: none;
				color: $white;
				padding-bottom: 2px;
				margin: 0 10px;
				border-bottom: 2px solid $red;
				opacity: 0.6;
				@extend .font-weight-normal;
				&.active{
					border-bottom: 2px solid $white;
					opacity: 1;
				}
				&:hover{
					border-bottom: 2px solid $white;
					opacity: 1;
				}
			}
			&.social-media{
				margin: 0 10px;
				display: inline-flex;
				a{
					opacity: 1;
					border-bottom: none;
					margin: 0 3px;
					i{
						color: $white;	
					}
				}
			}
		}
		ul{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
    }
	a{
		&.navbar-brand{
			img{
				height: 50px;
				margin: 15px 0;
			}
		}
	}

}

footer{
	background-color: $red;
	padding: 20px 0;
	p{
		color: $white;
		width: 100%;
		text-align: center;
	}
	.social-media{
		text-align: center;
		a{
			text-decoration: none;
			i{
				color: $white;
			}
		}
	}
}

.main-banner{
	width: 100%;
	height: 450px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
}

.historia{
	padding: 15px 0;
	h1{
		@extend .font-size-superBig;
		@extend .font-weight-bold;
		color: $darkRed;
		margin-bottom: 15px;
		border-bottom: 2px solid $darkRed;
		display: inline-block;
		padding: 0 10px 0 0;
	}
	article{
		padding: 10px;
		border-bottom: 2px dotted $darkRed;
		&:nth-child(2n+1){
			border-right: 2px dotted $darkRed;
		}
		h2{
			@extend .font-size-big;
			@extend .font-weight-bold;
			color: $gray;
			span{
				color: $darkRed;
			}
		}
		img{
			width: 100%;
			margin-bottom: 20px;
		}
		p{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}

.palmares{
	padding: 15px 0;
	h1{
		@extend .font-size-superBig;
		@extend .font-weight-bold;
		color: $darkRed;
		margin-bottom: 5px;
		border-bottom: 2px solid $darkRed;
		display: inline-block;
		padding: 0 10px 0 0;
	}
	.description{
		margin-bottom: 15px;
	}
	article{
		padding: 10px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		h2{
			font-size: 2rem;
			@extend .font-weight-bold;
			margin-bottom: 0;
			color: $darkRed;
			text-align: center;
			width: 100%;
		}
		img{
			width: 100%;
			max-width: 200px;
		}
		p{
			font-size: 5rem;
			@extend .font-weight-bold;
			text-align: center;
			width: 100%;
		}
		&:hover{
			img{
				transform: scale(1.2);
			}
		}
	}
}

.simbolos{
	padding: 15px 0;
	h1{
		@extend .font-size-superBig;
		@extend .font-weight-bold;
		color: $darkRed;
		margin-bottom: 15px;
		border-bottom: 2px solid $darkRed;
		display: inline-block;
		padding: 0 10px 0 0;
	}
	h2{
		display: inline-block;
	}
	.intro{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 15px 0;
		.escudo{
			img{
				width: 100%;
				max-width: 300px;
			}
		}
	}
	article{
		h2{
			@extend .font-size-big;
			@extend .font-weight-bold;
			color: $darkRed;
			margin-bottom: 15px;
			border-bottom: 2px solid $darkRed;
			padding: 0 10px 0 0;
		}
		p{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0px;
			}
		}
		.coro{
			p{
				text-align: center;
			}
		}
	}
}

.noticias{
	padding: 15px 0;
	h1{
		@extend .font-size-superBig;
		@extend .font-weight-bold;
		color: $darkRed;
		margin-bottom: 15px;
		border-bottom: 2px solid $darkRed;
		display: inline-block;
		padding: 0 10px 0 0;
	}
	article{
		padding: 10px;
		.content{
			border-radius: 20px;
			box-shadow: 0px 0px 5px black;
			overflow: hidden;
			height: 100%;
			position: relative;
			img{
				width: 100%;
				height: 250px;
				object-fit: cover;
				object-position: top;
			}
			h2{
				@extend .font-size-big;
				@extend .font-weight-bold;
				color: $darkRed;
				padding: 5px;
				text-transform: uppercase;
			}
			p{
				padding: 5px;
				@extend .font-size-normal;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 55px;
				}
			}
			.btn-link{
				text-align: center;
				padding: 0 0 15px;
				position: absolute;
				width: 100%;
				bottom: 0px;
				a{
					text-decoration: none;
					color: $white;
					display: inline-block;
					padding: 5px 10px;
					background-color: $darkRed;
					border-color: $darkRed;
					border-radius: 10px;
					&:hover{
						background-color: $red;
					}
				}
			}
		}
		&:hover{
			.content{
				box-shadow: 0px 0px 5px $red;
			}
		}
	}
}

.contacto{
	padding: 15px 0;
	h1{
		@extend .font-size-superBig;
		@extend .font-weight-bold;
		color: $darkRed;
		margin-bottom: 15px;
		border-bottom: 2px solid $darkRed;
		display: inline-block;
		padding: 0 10px 0 0;
	}
	.botones-contacto{
		button{
			background-color: $darkRed;
			border-color: $darkRed;
			&:hover{
				background-color: $red;
			}
		}
	}
}

.noEncontrada{
	height: 500px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	p{
		@extend .font-size-superBig;
		@extend .font-weight-bold;
		color: $darkRed;
		margin-bottom: 0;
	}
}

@each $k, $v in $fontMap{
	.font-weight-#{$k}{
		font-weight: $v;
	} 
}

@each $k, $v in $textMap{
	.font-size-#{$k}{
		font-size: $v;
	} 
}


@media (max-width: map-get($breakpoints, tablet)) {
	nav{
		#menu{
			li{
				width: 100%;
			}
	  	}
  	}

	.historia{
		article{
			&:nth-child(n+1){
				border-right: none;
			}
		}
	}

	.simbolos{
		.intro{
			.escudo{
				img{
					max-width: unset;
				}
			}
		}
	}
}

